<html lang="en">
    <head>
    <title>weather</title>
    </head>
    <body>
        <div class="card text-center"><h1>Weather in Hyderabad</h1>
        <div class="circle" style="color: brown;">munna</div>
        <h1>{{weather.current_weather.temperature}} {{weather.current_weather_units.temperature}}</h1>
        <h2>Wind speed : {{weather.current_weather.windspeed}}{{weather.current_weather_units.windspeed}}</h2>
        <h2>Wind direction : {{weather.current_weather.winddirection}}{{weather.current_weather_units.winddirection}}</h2>
        
        <h2></h2>
        </div>
        

    </body>

</html>
