.parent{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: plum;
    overflow: auto;
}
.right{
    width: 80%;
    height: 100%;
    background-color: powderblue;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    overflow: auto;

}
*{margin: 0;}